<!DOCTYPE html><html class="no-js _loading" lang="en">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
<base href="/">
<title>passwurdit</title>
<meta name="description" content="Get a strong password you will remember, and then leave. It’s just a password generator.">
<meta name="author" content="Jason Hibbs">
<link rel="shortcut icon" href="/src/img/meta/favicon.png?v=8">
<link rel="apple-touch-icon-precomposed" href="/src/img/meta/apple-touch-icon-precomposed.png?v=8">
<meta name="apple-mobile-web-app-title" content="passwurdit">
<meta property="og:title" content="passwurdit">
<meta property="og:image" content="http://pass.wurd.it/src/img/meta/share.png?v=8">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@wurdit">
<meta name="twitter:creator" content="@jasonhibbs">
<link rel="stylesheet" href="/src/css/style.css?v=8">
<script>
  document.documentElement.className=document.documentElement.className.replace('no-js','js')
  
</script><!--[if IEMobile]><meta http-equiv="cleartype" content="on"><![endif]-->
<body>
<header role="banner">
  <div class="layout">
    <h1 class="site_title"><a class="_unlink" href="/" title="The Homepage of passwurdit">passwurdit</a></h1>
  </div>
</header>
<main id="app">
  <div id="output" role="region" aria-live="polite" @mouseup="onTouchOutput">
    <div class="layout"><span tabindex="0" @focus="onTouchOutput">{{ password }}</span></div>
  </div>
  <div class="layout">
    <form aria-controls="output" @submit.prevent="updatePassword">
      <p>
        <button id="copy" type="button" :class="{ '_success': copySuccess, _fail: copyFail }" :disabled="copying" :aria-pressed="copying" @click="onCopy"><span v-if="copySuccess">Copied!</span><span v-else-if="copyFail">Couldn’t Copy</span><span v-else>Copy it</span></button>
        <button type="submit">Get another</button>
      </p>
      <p><span>A passwurd with </span><span>
          <input class="_tabular-numerals" id="length" title="Password Length" aria-label="Password Length" type="number" name="l" placeholder="24" pattern="[0-9]*" min="8" max="64" step="1" @input="onInput" v-model="input.length"> characters, </span><span>
          <select id="case" title="Password Case" aria-label="Password Case" name="c" @change="onInput" v-model="input.lettercase">
            <option value="c">capital</option>
            <option value="l">lower case</option>
          </select> letters, </span><span>separated by
          <select id="separator" title="Password Separator" aria-label="Password Separator" name="s" @change="onInput" v-model="input.separator">
            <option value="h">hyphens</option>
            <option value="n">numbers</option>
            <option value="p">periods</option>
            <option value="c">commas</option>
            <option value="s">slashes</option>
          </select>&thinsp;.</span></p>
      <template v-if="!!settings.length">
        <p class="_warning _severe" v-if="settings.length &lt; 12">This is very short 🙈</p>
        <p class="_warning" v-else-if="settings.length &lt; 16">This is a bit short 😬</p>
      </template>
    </form>
  </div>
</main>
<footer role="contentinfo">
  <div class="layout">
    <div class="explanation">
      <p><a href="https://xkcd.com/936/">Why is this good?</a></p>
      <p>Strong passwords aren’t ugly, they’re long and random. <a href="http://pass.wurd.it">Passwurdit</a> is a long random password generator.</p>
      <p>These generated passwords can’t be seen by anybody but you, which is a shame, because they’re often mildly amusing.</p>
    </div><small>
      ©2018
      <a class="_unlink" rel="author" href="http://jasonhibbs.co.uk">Jason Mervyn Hibbs</a><br><a class="_unlink" rel="license" href="https://opensource.org/licenses/MIT">MIT Licence</a></small>
  </div>
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.min.js"></script>
<script>window.Vue       || document.write('<script src="/src/js/vue.min.js"><\/script>')
  window.VueRouter || document.write('<script src="/src/js/vue-router.min.js"><\/script>')
</script>
<script src="/src/js/words.js?v=8"></script>
<script src="/src/js/script.min.js?v=8"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-16937765-11"></script>
<script>
  window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-16937765-11');
  
</script></body>
</html>