footer(role="contentinfo")
  .layout
    .explanation
      p
        a(href="https://xkcd.com/936/") Why is this good?
      p Strong passwords aren’t ugly, they’re long and random. #[a(href="http://pass.wurd.it") Passwurdit] is a long random password generator.
      p These generated passwords can’t be seen by anybody but you, which is a shame, because they’re often mildly amusing.

    small ©2018
      |
      |
      a._unlink(rel="author" href="http://jasonhibbs.co.uk") Jason Mervyn Hibbs
      br
      a._unlink(rel="license" href="https://opensource.org/licenses/MIT") MIT Licence
