footer(role="contentinfo")
  .layout
    p.explanation
      a(href="https://xkcd.com/936/") Why is this good?

    small ©2018
      |
      |
      a._unlink(rel="author" href="http://jasonhibbs.co.uk") Jason Mervyn Hibbs
      br
      a._unlink(rel="license" href="https://opensource.org/licenses/MIT") MIT Licence
