// Controls ///////////////////////////////////////////////////////

// Variables ------------------------------------------------------
@control_height       : 30;
@control_line-height  : (@control_height / @fontsize_base);
@control_radius       : 2px;
@control_border-width : 0;

@control_color        : @textcolor;
@control_placeholder  : fadeout(@input_color, 66);
@control_foreground   : @htmlcolor;
@control_background   : darken(@htmlcolor, 8);
@control_font-weight  : 400;
@control_padding      : (5em/9);
@control_border-color : transparent;
@control_transition   : color 0.15s, background-color 0.15s, box-shadow 0.15s, opacity 0.15s;

@input_color          : @control_color;
@input_background     : @control_background;
@input_focus          : @linkcolor;
@input_invalid        : @badcolor;
@input_border-width   : @control_border-width;
@input_border-color   : @control_border-color;
@input_padding        : @control_padding;

@checkbox_check       : @input_color;
@checkbox_background  : @input_background;

@radio_check          : @input_color;
@radio_background     : @input_background;
@radio_padding        : 5px;

@button_color         : @control_color;
@button_background    : @control_background;
@button_focus         : darken(@button_background, 12);
@button_active        : darken(@button_focus, 8);
@button_border-width  : @control_border-width;
@button_border-color  : @control_border-color;
@button_padding       : (7em/9);

// General --------------------------------------------------------
button,
select,
input {
  letter-spacing: unit((20/1000), em);
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

// Inputs ---------------------------------------------------------
input,
textarea {
  display: inline-block;
  .control-size();
  .control-style();
  text-overflow: ellipsis;

  &:focus,
  &:hover {
    .control-focus-style();
  }

  &[readonly] {
    background: transparent;
    box-shadow: 0 0 0 1px fadeout(@input_focus, 100),
          inset 0 0 0 1px @input_background;

    &:focus,
    &:hover {
      box-shadow: 0 0 0 1px @input_focus,
            inset 0 0 0 1px transparent;
    }
  }
}

::placeholder {
  color: @control_placeholder;
}

// Selects --------------------------------------------------------
select {
  display: inline-block;
  .control-size();
  .select-style();

  &:hover {
    color: @input_color;
  }

  &:focus,
  &:hover {
    .control-focus-style();
  }
}

.select-arrow(@target) {
  & when (luma(@target) < 18.73%) {
    .select_arrow__light();
  }

  & when (luma(@target) >= 18.73%) {
    .select_arrow__dark();
  }
}

.select_arrow__dark {
  background-image: @icon_arrow-down-dark;
}

.select_arrow__light {
  // background-image: @icon_arrow-down-light;
}

@-moz-document url-prefix() {
  select {
    .padding-y((4em/16));

    &:-moz-focusring {
      outline: none;
    }
  }
}

// Buttons --------------------------------------------------------
button,
input[type=button] {
  border: none;
  appearance: none;
}

button,
.button,
[role="button"],
input[type=button] {
  display: inline-block;
  box-shadow: none;

  .control-size();
  .button-style();
}

.button() {
  display: inline-block;
  letter-spacing: 0.02em;
  .control-size();
  .button-style();
}

// Modifiers ------------------------------------------------------
[disabled] {
  cursor: default;
  user-select: none;
  pointer-events: none;
  opacity: (2/3);

  &:focus,
  &:hover {
    box-shadow: none;
  }
}

// Mixins ---------------------------------------------------------

// Styling ------------------------------------
.button-style() {
  background: @control_background;
  border: @button_border-width solid @button_border-color;
  border-radius: @control_radius;
  padding: 0 @button_padding;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: @control_transition;
  font-weight: @control_font-weight;

  &,
  &:visited,
  &:focus,
  &:hover {
    color: @control_color;
  }

  &:focus,
  &:hover {
    outline: 0;
    background-color: @button_focus;
  }

  &:active {
    background-color: @button_active;
  }
}

.control-style() {
  color: @input_color;
  background: @input_background;
  font-weight: @control_font-weight;
  padding: 0 @control_padding;
  border: @input_border-width solid @input_border-color;
  border-radius: @control_radius;
  vertical-align: middle;
  transition: @control_transition;
}

.control-focus-style() {
  outline: none;
  box-shadow: 0 0 0 1px @input_focus;
}

.select-style() {
  .control-style();
  appearance: none;
  cursor: pointer;
  padding-right: (@control_padding * 3);
  background-repeat: no-repeat;
  background-position: right (@control_padding) center;
  background-size: (@control_padding * 1.25) auto;
  .select-arrow(@input_background);
}

// Sizing -------------------------------------
.control-size(@font-size: @fontsize_base, @line-height: @control_height) {
  font-size: unit((@font-size / @fontsize_base), em);
  line-height: (@line-height / @font-size);
}

.range-size(@line-height: (@control_height - 4), @font-size: @fontsize_base) {
  .size(@line-height) {
    width:  unit((@line-height / @font-size), em);
    height: unit((@line-height / @font-size), em);
  }

  &::-webkit-slider-thumb {
    .size(@line-height);
  }
  &::-moz-range-thumb {
    .size(@line-height);
  }
  &::-ms-thumb {
    .size(@line-height);
  }
}

// Colouring ----------------------------------
.button-color(@background-color: @button_background, @text-color: contrast(@background-color)) {
  background-color: @background-color;

  &,
  &:visited,
  &:focus,
  &:hover {
    color: @text-color;
  }

  &:focus,
  &:hover {
    background-color: mix(contrast(lighten(@background-color, 12)), @background-color, 12);
  }

  &:active {
    background-color: mix(contrast(lighten(@background-color, 12)), @background-color, 20);
  }
}

.control-color(@background-color: @input_background, @text-color: contrast(@background-color), @focus-color: @input_focus) {
  color: @text-color;
  background-color: @background-color;

  &::placeholder {
    color: fadeout(@text-color, 66);
  }


  &:focus,
  &:hover {
    box-shadow: 0 0 0 1px @focus-color;
  }
}

.select-color(@background-color: @input_background, @text-color: contrast(@background-color), @focus-color: @input_focus) {
  .control-color(@text-color, @background-color, @focus-color);
  .select-arrow(@background-color);
}

// Sprites --------------------------------------------------------
@icon_arrow-down-dark: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9ImFycm93LWRvd24tYmxhY2siIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDY0IDQwIj48ZyBvcGFjaXR5PSIwLjM1Ij48cGF0aCBkPSJNNjMuMzYsOC40N0wzMy40NywzOC4zNmEyLDIsMCwwLDEtMi45NSwwTDAuNjQsOC40N0EyLjIxLDIuMjEsMCwwLDEsMCw3LDIuMjEsMi4yMSwwLDAsMSwuNjQsNS41M0wzLjg1LDIuMzJhMi4wOSwyLjA5LDAsMCwxLDEuNDctLjY0LDIuMjEsMi4yMSwwLDAsMSwxLjQ3LjY0TDMyLDI3LjUyLDU3LjIsMi4zMmEyLDIsMCwwLDEsMi45NSwwbDMuMjEsMy4yMUEyLjIxLDIuMjEsMCwwLDEsNjQsNywyLjIxLDIuMjEsMCwwLDEsNjMuMzYsOC40N1oiIGZpbGw9IiMwMDAiLz48L2c+PC9zdmc+Cg==);
