// Global /////////////////////////////////////////////////////////

html._loading {
  [v-if],
  [v-else-if],
  #output span {
    display: none;
  }
}

.site_title {
  color: @basecolor;
  font-size: (27em/16);
  text-transform: lowercase;
  margin: (15em/27) 0 (18em/27);
}

footer {
  color: @darkgrey;
  padding: (@lh * 2) 0 (@lh * 4);

  small {
    font-size: (13em/16);
  }
}

input[type=number] {
  appearance: none;
  padding: 0;
  text-align: center;
  width: auto;
  min-width: (36em/16);

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

#output {
  background: @control_background;
  font-family: @fontfamily_mono;
  font-size: (20em/16);
  margin-bottom: (@lh * (2/3));
  padding: (15em/20) 0;
  -webkit-tap-highlight-color: transparent;

  .layout {
    display: flex;
    min-height: (@lh * 3);
    align-items: center;
  }

  span {
    letter-spacing: (3/100em);
    word-break: break-word;
    outline: 0;
  }

  @media @tablet {
    font-size: (27em/18);
    line-height: (40/27);
    padding: (24em/27) 0;
  }
}

form {
  @media @max-medium-screen {
    font-size: (18em/16);
  }

  p {
    margin-bottom: (@lh * 1);
  }

  span {
    display: inline-block;
    line-height: (42/16);
    white-space: nowrap;

    &, input, select {
      vertical-align: baseline;
    }
  }

  button {
    .control-size(16, 42);
    padding: 0 (18em/16);
  }
}

button#copy {
  .button-color(@basecolor, @white);

  &._fail {
    .button-color(@badcolor);
  }
}

p._warning {
  display: inline-block;
  background: fadeout(@badcolor, 80);
  font-size: (13em/16);
  padding: 1em;
  max-width: 33em;

  &._severe {
    background: fadeout(@badcolor, 75);
  }
}

.explanation {
  font-size: (15em/16);
  max-width: 28em;
}
